<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"  name="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="submitMail()">Recuperar</ion-button>
      </ion-col>
    </ion-row>
    <small>
      Por favor ingresa tu correo electronico con el que te registraste para poder
      cambiar la contraseña.
    </small>
  </form>

</ion-content>
