<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>
<div class="ion-text-center">
  <ion-img src="assets/icon/img.png" class="react"></ion-img> 
</div>
<ion-content class="auth-form ion-text-center" id="contentContainer">
  <ion-grid>
    <ion-row>
      <ion-col class="align-self-center">
        <ion-button [routerLink]="['/register']" expand="block" color="primary">Registrarse</ion-button>
        <span class="already">¿Ya eres usuario?</span>
        <br>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  